/* .col-6,
.col-4,
.col-8,
.col-12 {
  border: 1px dashed black;
  min-height: 100px;
} */
img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.header {
  background-color: antiquewhite;
}
body {
  font-family: "Roboto", sans-serif;
}
